{{/* {{printf "%s" .Params}} */}}
<a
  href="{{.RelPermalink}}"
  class="w-full bg-white text-blue-900 rounded-lg overflow-hidden shadow block h-full hover:shadow-xl transition-shadow duration-200"
>
  {{/* {{printf "%s" .Params}} */}}
  <div
    class="w-full bg-blue-400 min-h-10 max-h-32 lg:max-h-52 relative rounded overflow-hidden"
  >
    <img src="{{.Params.thumbnail}}" class="w-full h-full object-cover" />
    <div
      class="bg-gray-800 rounded-tl-none rounded-br-none rounded-tr rounded-bl-lg text-sm text-white px-3 py-1 absolute top-0 right-0"
    >
      <p class="date-published">{{.Params.date}}</p>
    </div>
  </div>
  <div class="w-full p-5 flex flex-col justify-between gap-5">
    <div>
      <h2 class="font-semibold line-clamp-3">{{.Params.title}}</h2>
      {{if .Params.description}}
      <p class="text-sm text-gray-500 line-clamp-2">{{.Params.description}}</p>
      {{end}}
    </div>
  </div>
</a>

<script>
  var dateElements = document.getElementsByClassName("date-published");
  for (var i = 0; i < dateElements.length; i++) {
    var inner = new Date(dateElements[i].innerHTML);
    const formattedDate = inner.toISOString().split("T")[0];
    dateElements[i].innerHTML = formattedDate;
  }
</script>
